
.flatpickr-day.selected, 
.flatpickr-day.startRange, 
.flatpickr-day.endRange, 
.flatpickr-day.selected.inRange, 
.flatpickr-day.startRange.inRange, 
.flatpickr-day.endRange.inRange, 
.flatpickr-day.selected:focus, 
.flatpickr-day.startRange:focus, 
.flatpickr-day.endRange:focus, 
.flatpickr-day.selected:hover, 
.flatpickr-day.startRange:hover, 
.flatpickr-day.endRange:hover {
    background: #1a3151 !important; 
    border-color: #1a3151 !important;
}


.flatpickr-day:hover {
    background: #e0e0e0 !important;
}


.flatpickr-calendar {
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}